.detailBlogs{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.detailBlogs .detail-cont img{
    height: 550px;
    border-radius: 5px;
}
.detailBlogs .detail-cont .card-body .card-title{
    font-size: 42px;
    margin-top: 50px;
    text-align: center;
    font-weight: bold;
}
.detailBlogs .detail-cont .card-body .card-text{
    margin-top: 50px;
    font-size: 26px;
    color: grey;
}
.detailBlogs .comment-cont{
    margin-top: 60px;
}
.detailBlogs .comment-cont h3{
    color: #ee6545;
    text-align: center;
    font-weight: bold;
}
.detailBlogs .comment-cont .none{
    color: gray;
    margin-top: 30px;
    text-align: center;
}
.detailBlogs .comment-cont .comment{
    background-color: #fbf3ea;
    margin-top: 30px;
    padding: 20px;
    border-radius: 5px;
}
.detailBlogs .comment-cont .comment .container{
    display: flex;
    flex-direction: column;
    gap: 0px 20px;
}
.detailBlogs .comment-cont .comment .container .cont{
    display: flex;
    gap: 0px 20px;
}
.detailBlogs .comment-cont .comment .container .badge{
    background-color: #ee6545;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    font-size: 18px;
    align-items: center;
    height: 50px;
    width: 50px;
}
.detailBlogs .comment-cont .comment .container .info .flex{
    display: flex;
    gap: 0px 50px;
    align-items: center;
}
.detailBlogs .comment-cont .comment .container .info .flex h4{
    font-weight: bold;
    
}
.detailBlogs .comment-cont .comment .container .info .flex .date{
    color: gray;
}
.detailBlogs .comment-cont .comment form{
    display: flex;
    margin-top: 40px;
    justify-content: center;
}
.detailBlogs .comment-cont .comment form input{
    border: 2px solid #ee6545;
    outline: 0;
    padding: 6px;
    width: 600px;
    font-size: 18px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.detailBlogs .comment-cont .comment form button{
    background-color: #ee6545;
    color: white;
    padding: 6px;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 18px;
}
.detailBlogs .comment-cont .comment form button:hover{
    background-color: #c7543a;
}

@media screen and (min-width: 2000px) and (max-width: 2560px){
    .detailBlogs{
        margin-left: 80px;
        margin-right: 80px;
    }
    .detailBlogs .detail-cont img{
        height: 950px;
        border-radius: 5px;
    }
    .detailBlogs .detail-cont .card-body .card-title{
        font-size: 62px;
        margin-top: 80px;
    }
    .detailBlogs .detail-cont .card-body .card-text{
        margin-top: 80px;
        font-size: 36px;
    }
    .detailBlogs .comment-cont{
        margin-top: 160px;
    }
    .detailBlogs .comment-cont h3{
        font-size: 62px;
    }
    .detailBlogs .comment-cont .none{
        font-size: 32px !important;
        margin-top: 30px;
    }
    .detailBlogs .comment-cont .comment{
        margin-top: 60px;
    }
    .detailBlogs .comment-cont .comment .container{
        gap: 30px 20px;
        margin-top: 20px;
    }
    .detailBlogs .comment-cont .comment .container .cont{
        display: flex;
        gap: 0px 20px;
    }
    .detailBlogs .comment-cont .comment .container .badge{
        border-radius: 40px;
        font-size: 26px;
        height: 60px;
        width: 60px;
    }
    .detailBlogs .comment-cont .comment .container .info .message{
        font-size: 32px;
    }
    .detailBlogs .comment-cont .comment .container .info .flex{
        display: flex;
        gap: 0px 50px;
        align-items: center;
    }
    .detailBlogs .comment-cont .comment .container .info .flex h4{
        font-size: 32px;
        
    }
    .detailBlogs .comment-cont .comment .container .info .flex .date{
        font-size: 22px;
    }
    .detailBlogs .comment-cont .comment form{
        display: flex;
        margin-top: 80px;
        justify-content: center;
    }
    .detailBlogs .comment-cont .comment form input{
        padding: 15px;
        width: 800px;
        font-size: 32px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    .detailBlogs .comment-cont .comment form button{
        padding: 15px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        font-size: 32px;
    }
}

@media screen and (min-width: 1080px) and (max-width: 1800px){
    .detailBlogs{
        margin-left: 40px;
        margin-right: 40px;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .detailBlogs .detail-cont img{
        height: 550px;
        border-radius: 5px;
    }
    .detailBlogs .detail-cont .card-body .card-title{
        font-size: 42px;
        margin-top: 50px;
        text-align: center;
        font-weight: bold;
    }
    .detailBlogs .detail-cont .card-body .card-text{
        margin-top: 50px;
        font-size: 26px;
        color: grey;
    }
    .detailBlogs .comment-cont{
        margin-top: 60px;
    }
    .detailBlogs .comment-cont h3{
        color: #ee6545;
        text-align: center;
        font-weight: bold;
    }
    .detailBlogs .comment-cont .none{
        color: gray;
        margin-top: 30px;
        text-align: center;
    }
    .detailBlogs .comment-cont .comment{
        background-color: #fbf3ea;
        margin-top: 30px;
        padding: 20px;
        border-radius: 5px;
    }
    .detailBlogs .comment-cont .comment .container{
        display: flex;
        flex-direction: column;
        gap: 0px 20px;
    }
    .detailBlogs .comment-cont .comment .container .cont{
        display: flex;
        gap: 0px 20px;
    }
    .detailBlogs .comment-cont .comment .container .badge{
        background-color: #ee6545;
        border-radius: 40px;
        display: flex;
        justify-content: center;
        font-size: 18px;
        align-items: center;
        height: 50px;
        width: 50px;
    }
    .detailBlogs .comment-cont .comment .container .info .flex{
        display: flex;
        gap: 0px 50px;
        align-items: center;
    }
    .detailBlogs .comment-cont .comment .container .info .flex h4{
        font-weight: bold;
        
    }
    .detailBlogs .comment-cont .comment .container .info .flex .date{
        color: gray;
    }
    .detailBlogs .comment-cont .comment form{
        display: flex;
        margin-top: 40px;
        justify-content: center;
    }
    .detailBlogs .comment-cont .comment form input{
        border: 2px solid #ee6545;
        outline: 0;
        padding: 6px;
        width: 600px;
        font-size: 18px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    .detailBlogs .comment-cont .comment form button{
        background-color: #ee6545;
        color: white;
        padding: 6px;
        border: none;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        font-size: 18px;
    }
}

@media screen and (max-width: 425px){
    .detailBlogs{
        margin-left: 10px;
        margin-right: 10px;
    }
    .detailBlogs .detail-cont img{
        height: 250px;
    }
    .detailBlogs .detail-cont .card-body .card-title{
        font-size: 22px;
        margin-top: 30px;
    }
    .detailBlogs .detail-cont .card-body .card-text{
        margin-top: 30px;
        font-size: 16px;
    }
    .detailBlogs .comment-cont .none{
        color: gray;
        margin-top: 30px;
        text-align: center;
    }
    .detailBlogs .comment-cont .comment .container{
        display: flex;
        flex-direction: column;
        gap: 0px 20px;
    }
    .detailBlogs .comment-cont .comment .container .badge{
        font-size: 15px;
        height: 30px;
        width: 30px;
    }
    .detailBlogs .comment-cont .comment .container .info .flex{
        display: flex;
        gap: 0px 50px;
        align-items: center;
    }
    .detailBlogs .comment-cont .comment .container .info .flex h4{
        font-size: 18px !important;
    }
    .detailBlogs .comment-cont .comment .container .info .flex .date{
        font-size: 12px !important;
    }
    .detailBlogs .comment-cont .comment form input{
        border: 2px solid #ee6545;
        outline: 0;
        padding: 4px;
        width: 200px !important;
        font-size: 16px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    .detailBlogs .comment-cont .comment form button{
        background-color: #ee6545;
        color: white;
        padding: 6px;
        border: none;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        font-size: 18px;
    }
}