.header-cont nav{
    background-color: #fff;
    border-bottom: 1px solid black;
}
.header-cont nav .logo{
    display: flex;
    gap: 0px 15px;
    justify-content: center;
    align-items: center;
}
.header-cont nav .all{
    margin-left: 40px;
}
.header-cont nav .logo img{
    height: 50px;
    width: 50px;
}
.header-cont nav .last{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-cont nav .last .btn{
    margin-right: 20px;
    background-color: #ee6545;
    padding: 10px;
    color: white;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px 5px;
    cursor: pointer;
    border-radius: 10px;
}
.header-cont nav .last .btn:hover{
    background-color: #ca573d;
}
.header-cont nav .drop{
    overflow-y: scroll;
    height: 250px;
}
.header-cont nav .drop::-webkit-scrollbar{
    width: 10px;
}
.header-cont nav .drop::-webkit-scrollbar-track{
    background-color: #fbf3ea;
}
.header-cont nav .drop::-webkit-scrollbar-thumb{
    background-color: #ee6545;
    border-radius: 40px;
}

@media screen and (min-width: 2000px) and (max-width: 2560px){
    .header-cont nav .logo{
        font-size: 52px;
        gap: 0px 35px;
    }
    .header-cont nav .logo img{
        height: 80px;
        width: 80px;
    }
    .header-cont nav li a{
        font-size: 32px !important;
    }
    .header-cont nav .last .btn{
        margin-right: 50px;
        padding: 15px;
        width: 380px;
        gap: 0px 15px;
    }
    .header-cont nav .drop{
        overflow-y: scroll;
        height: 300px;
    }
}

@media screen and (min-width: 1080px) and (max-width: 1800px){
    .header-cont nav{
        background-color: #fff;
        border-bottom: 1px solid black;
    }
    .header-cont nav .logo{
        display: flex;
        gap: 0px 15px;
        justify-content: center;
        align-items: center;
    }
    .header-cont nav .all{
        margin-left: 40px;
    }
    .header-cont nav .logo img{
        height: 50px;
        width: 50px;
    }
    .header-cont nav .last{
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header-cont nav .last .btn{
        margin-right: 20px;
        background-color: #ee6545;
        padding: 10px;
        color: white;
        width: 180px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0px 5px;
        cursor: pointer;
        border-radius: 10px;
    }
    .header-cont nav .last .btn:hover{
        background-color: #ca573d;
    }
    .header-cont nav .drop{
        overflow-y: scroll;
        height: 250px;
    }
}

@media screen and (max-width: 991px){
    .header-cont nav{
        z-index: 111111111;
    }
    .header-cont nav .drop{
        overflow-y: scroll;
        height: 200px;
    }
}